@tailwind base;
@tailwind components;
@tailwind utilities;
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
    background-color: transparent !important;
  }

  input:-webkit-autofill:focus {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0 30px white inset;

}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}